@import '~@angular/material/theming';

// Define a theme.
$app-primary: mat-palette($mat-pink, 700, 500, 900);
$app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$app-error: mat-palette($mat-red);

$theme: mat-dark-theme($app-primary, $app-accent);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$error: mat-color($app-error);
