<app-titlebar [height]="headerHeight"></app-titlebar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               mode="side"
               [opened]="authenticated$ | async"
               role="navigation"
               fixedInViewport
               [fixedTopGap]="headerHeight"
               class="sidenav">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
