<mat-toolbar color="primary"
             class="app-header">
  <button type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="title">UnMango Web Shit</span>
  <app-login-button class="login-button">
  </app-login-button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) && !(isLogin | async)">
    <mat-nav-list>
      <a mat-list-item
         [routerLinkActive]="['link-active']"
         [routerLink]="'/'">
        <span matLine>Home</span>
        <mat-icon matListIcon>home</mat-icon>
      </a>
      <h3 matSubheader>Gaming</h3>
      <a mat-list-item
         [routerLinkActive]="['link-active']"
         [routerLink]="'/minecraft'">
        <span matLine>Minecraft</span>
        <mat-icon matListIcon>games</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="body-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
