@import "~@angular/material/theming";

.app-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  @include mat-elevation(6);
}

.sidenav-container {
  position: fixed;
  top: 64px;
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 175px;
  @include mat-elevation-transition();

  &:hover {
    @include mat-elevation(8);
  }
}

.body-content {
  // width: 100%;
  padding-top: 15px;
}

@media (max-width: 767px) {
  .sidenav-container {
    top: 56px;
  }
}
